@import "tailwindcss";

html {
  scroll-behavior: smooth;
}


.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}


html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}


.loader {
  border-top-color: #3b82f6;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

